<div class="summary-component">
  <div class="ticket-list">
    <ng-container *ngFor="let summaryItem of summary">
      <div class="ticket" *ngIf="summaryItem">
        <div class="flight-route">{{ summaryItem.flightDirectionDetails.originShortName }} - {{ summaryItem.flightDirectionDetails.destinationShortName }}</div>
        <div class="flight-time">{{ summaryItem.flightDirectionDetails.flightDateFormatted }}</div>
        <div class="summary-line">
          <div class="summary-line-description">{{ summaryItem.fare.bundle }}</div>
          <div class="summary-line-cost">{{ summaryItem.fare.price }}€</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="total" *ngIf="summary.length > 0">
    <div class="summary-line">
      <div class="summary-line-description">TOTAL</div>
      <div class="summary-line-cost">{{ totalCost }}€</div>
    </div>
  </div>
  <div class="checkout" *ngIf="summary.length > 0">
    <a class="fix-width primary button" [routerLink]="['/pay']">PAY NOW</a>
  </div>
</div>