<div class="summary-component">
  <div class="ticket-list">
    <div class="ticket">
      <div class="flight-route">Budapest - London Luton</div>
      <div class="flight-time">2019 feb. 11. 14:25</div>
      <div class="summary-line">
        <div class="summary-line-description">basic</div>
        <div class="summary-line-cost">53€</div>
      </div>
    </div>
    <div class="ticket">
      <div class="flight-route">Budapest - London Luton</div>
      <div class="flight-time">2019 feb. 11. 14:25</div>
      <div class="summary-line">
        <div class="summary-line-description">basic</div>
        <div class="summary-line-cost">53€</div>
      </div>
    </div>
  </div>
  <div class="total">
    <div class="summary-line">
      <div class="summary-line-description">TOTAL</div>
      <div class="summary-line-cost">106€</div>
    </div>
  </div>
  <div class="checkout">
    <button class="fix-width primary button">Checkout</button>
  </div>
</div>
