<div class="date-picker-component">
  <input
    type="text"
    name="departure"
    [min]="minimumDate"
    [(ngModel)]="travelDates"
    [owlDateTime]="departureDatePicker"
    [owlDateTimeTrigger]="departureDatePicker"
    [selectMode]="'rangeFrom'"
    placeholder="Departure"
    readonly
    autocomplete="off" />
  <input
    #arrivalDateInput
    type="text"
    name="arrival"
    [min]="minimumDate"
    [(ngModel)]="travelDates"
    [owlDateTime]="arrivalDatePicker"
    [owlDateTimeTrigger]="arrivalDatePicker"
    [selectMode]="'rangeTo'"
    placeholder="Arrival"
    readonly
    autocomplete="off"/>

  <div class="clear-arrival-date" *ngIf="travelDates[1]" (click)="onClearArrivalDateClick()">
    <i class="fas fa-times"></i>
  </div>

  <owl-date-time
    #departureDatePicker
    [pickerType]="'calendar'"
    [pickerMode]="'dialog'"
    [panelClass]="'date-picker'"
    (afterPickerClosed)="afterDatePickerClosed()">
  </owl-date-time>
  <owl-date-time
    #arrivalDatePicker
    [pickerType]="'calendar'"
    [pickerMode]="'dialog'"
    [panelClass]="'date-picker'"
    [startAt]="travelDates[0]"
    (afterPickerClosed)="afterDatePickerClosed()">
  </owl-date-time>
</div>
