.button {
  border-style: none;
  padding: 12px 30px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  &.primary {
    background-color: $color_fire;

    &:hover {
      background-color: darken($color_fire, 10);
    }
  }

  &.secondary {
    background-color: $color_sea;

    &:hover {
      background-color: darken($color_sea, 10);
    }
  }

  &.fix-width {
    width: 160px;
    padding-left: 0px;
    padding-right: 0px;
  }

  &:focus {
    outline: none;
  }
}
