.button {
  border-style: none;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  &.primary {
    background-color: $color_fire;

    &:hover {
      background-color: darken($color_fire, 10);
    }
  }

  &.fix-width {
    width: 160px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
