header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: $color_dark;
  z-index: 2;

  img {
    height: 60%;
    vertical-align: middle;
  }
}

main {
  margin: 0 auto;
  width: 680px;

  @media screen and (max-width: $breakpoint_level_1) {
    width: 420px;
  }

  @media screen and (max-width: $breakpoint_level_2) {
    padding-bottom: 75px;
  }

  @media screen and (max-width: $breakpoint_level_3) {
    width: 420px;
  }

  @media screen and (max-width: $breakpoint_level_4) {
    width: auto;
    margin-left: $general_padding / 2;
    margin-right: $general_padding / 2;
  }
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 50px;
  padding-left: $general_padding;
  padding-right: $general_padding;
  width: 240px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  z-index: 1;

  @media screen and (max-width: $breakpoint_level_2) {
    padding-left: $general_padding / 2;
    padding-right: $general_padding / 2;
    width: 220px;
    transition: .5s top;

    &.open {
      top: 30%;
    }
  }

  @media screen and (max-width: $breakpoint_level_3) {
    padding: $general_padding / 2 $general_padding;
    width: auto;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -75px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: $general_padding;
  width: 360px;
  background: white;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  z-index: 4;

  @media screen and (max-width: $breakpoint_level_4) {
    left: $general_padding / 2;
    right: $general_padding / 2;
    width: auto;
    transform: translate(0, -50%);
  }
}
