$color_light: #f6f5f0;
$color_dark: #393e46;
$color_sea: #00adb5;
$color_fire: #fc3c3c;
$color_border: #d7d7d7;

$color_font_medium: #808080;
$color_font_dark: #333333;

$general_padding: 30px;

$breakpoint_level_1: 1330px;
$breakpoint_level_2: 1070px;
$breakpoint_level_3: 970px;
$breakpoint_level_4: 420px;