@import '../../../styles/variables';

.airport-picker-component {
  display: flex;
  position: relative;

  @media screen and (max-width: $breakpoint_level_4) {
    flex-direction: column;
  }

  @media screen and (min-width: 421px) {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 1px;
      left: 50%;
      margin-left: -3px;
      width: 23px;
      height: 46px;
      background-image: url('/assets/images/input_arrow.png');
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat; 
    }
  }

  input {
    flex: 1;
    border: 1px solid $color_border;
    padding: 12px 15px;
    font-size: 16px;
    color: $color_font_dark;
    outline: none;

    &:focus {
      box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    }
  }

  .airport-dropdown {
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
    border: 1px solid $color_border;
    background-color: white;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    z-index: 1;

    li {
      padding: 20px $general_padding / 2;
      text-align: left;
      font-weight: normal;
      cursor: pointer;

      &:hover {
        color: $color_sea;
      }

      label {
        font-weight: bold;
      }
    }

    p {
      padding: $general_padding / 2;
      font-size: 12px;
    }
  }
}
