@import '../../../styles/variables';

.flights-page-component {
  min-height: 100vh;
  background-color: $color_light;

  .search-form {
    display: flex;
    justify-content: center;
    padding-top: 50px + $general_padding;
    text-align: center;

    @media screen and (max-width: $breakpoint_level_4) {
      display: block;
    }
  }

  .flight-list-container {
    display: flex;
    margin-top: $general_padding;
    border-top: 1px solid $color_border;
    padding-top: $general_padding;
    padding-bottom: $general_padding;
    color: $color_font_dark;

    @media screen and (max-width: $breakpoint_level_1) {
      flex-direction: column;
    }

    .flight-list {
      display: flex;
      flex-direction: column;
      flex: 1;

      &:first-child {
        margin-right: $general_padding;

        @media screen and (max-width: $breakpoint_level_1) {
          margin-right: 0;
          margin-bottom: $general_padding;
        }
      }

      .loading-indicator {
        display: block;
        margin: $general_padding auto;
      }

      .flight-list-title {
        display: flex;
        align-items: center;

        .flight-icon {
          color: $color_sea;
          margin-right: $general_padding / 2;
          font-size: 20px;
        }

        .flight-list-details {
          line-height: 1.2em;
          font-weight: bold;

          span {
            font-weight: normal;
            color: $color_font_medium;
          }
        }
      }

      .flight-list-items {
        margin-top: $general_padding;
      }

      .no-arrival-flight {
        flex-grow: 1;
        margin-top: $general_padding;
        border: 2px dashed $color_border;
        border-radius: 5px;
        padding: $general_padding / 2;
        text-align: center;
        font-size: 14px;
        color: $color_font_medium;
        background: darken($color_light, 3);

        button {
          margin-top: $general_padding / 2;
        }
      }
    }
  }

  .summary-opener {
    display: none;
    position: absolute;
    top: -15px;
    right: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: $color_dark;
    cursor: pointer;

    @media screen and (max-width: $breakpoint_level_3) {
      display: block;
    }

    &:hover {
      background-color: darken($color_dark, 10);
    }

    i {
      color: white;
      font-size: 18px;
    }
  }
}
