<!--
<app-airport-picker></app-airport-picker>
<app-date-picker></app-date-picker>
-->

<form class="search-form-component" (submit)="onSubmit()">
  <div class="search-form-line">
    <!--
    <input type="text" placeholder="origin" name="origin" [(ngModel)]="searchParams.origin" />
    <input type="text" placeholder="destination" name="destination" [(ngModel)]="searchParams.destination" />

    (change)="onAirportChange()"
    -->
    <app-airport-picker></app-airport-picker>
  </div>
  <div class="search-form-line">
    <app-date-picker></app-date-picker>
  </div>
  <div class="search-form-line">
    <input class="button primary fix-width" type="submit" value="Search" />
  </div>
</form>
